<div class="container">
        <h1>Bienvenido Tutor {{ nombre }} </h1>

        <div>
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tema</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody *ngFor= "let valores of datos">
                          <tr>
                          <th scope="row">{{ valores.id_estudiante }}</th>
                            <td>{{valores.usuario}}</td>
                          <td>{{valores.tema}}</td>
                          <td> 
              <button class="btn btn-success" [routerLink]="['/index/',valores.id_estudiante]"> Horarios </button> <td>
                          </tr>
                         
                      </table>
        </div> 

</div>
    