<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../assets/Imagen1.png" ng-fallimg style="width:100px;height:75px;"> &nbsp;  
  <a class="navbar-brand" routerLink = "/index" >Trabajo de Titulacion de Grado</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink = "/index" > Inicio <span class="sr-only">(current)</span></a>
      </li>

      
      <li class="nav-item ">
        <a class="nav-link" routerLink = "/entregable" > Entregables <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLink = "/solicitudes" > Solicitudes <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link" routerLink = "/" > Salir <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      
    </form>
  </div>
</nav>

<footer class="footer " >
  
  Boris Tapia - Cynthia Maza - Carla Guamanzara
  <br>2019-2020

</footer>

  <router-outlet></router-outlet> 


