<div class="container">
<h1>Registro de Tutorias</h1>

<div>

</div>

<div>

    <table class="table" >
        <thead >
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dia</th>
            <th scope="col">Hora</th>
            <th scope="col">% del Avance</th>
            <th class="col"> Descripcion</th>
            <th scope="col">Firma</th>
          </tr>
        </thead> 
        <tbody >
          <tr *ngFor= "let entre of entregable ">
          <th>{{entre.id_entregable}}</th >
            <td>{{entre.dia}}</td>
            <td>{{entre.hora}}</td>
            <td>{{entre.porcentaje}}</td>
            <td> {{entre.descripcion}}</td>
            <td><button  type="button" class="btn btn-info btn-black" *ngIf = "entre.firma" (click) = "firmar(entre.id_entregable,true)" [routerLink]="['/index',id2]">Firmar </button> <label *ngIf ="!entre.firma"> FIRMADO</label> </td>
          </tr>
          
        </tbody>
      </table>

      <div >

        <button [routerLink]="['/horarios/ingresar',id2]" class="btn btn-dark" > añadir nuevo </button>
      </div>
    
      
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Ayuda Nuevo Horario</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                <ul class="list-group">
                        <li class="list-group-item">1.	Seleccionar un nombre de un estudiante registrado.</li>
                        <li class="list-group-item">2.	Seleccionar la hora disponible de la tutoría para el estudiante.</li>
                        <li class="list-group-item">3.	Seleccionar el día disponible de la tutoría para el estudiante.</li>
                        <li class="list-group-item">4.	Para guardar el horario hacer clic en “Agregar”.</li>
                        <li class= "list-group-item">5.	Para visualizar los horarios ya asignados a cada estudiante ver la tabla superior.</li>
                      </ul>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
</div>