<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../assets/Imagen1.png" ng-fallimg style="width:100px;height:75px;"> &nbsp;  
  <a class="navbar-brand" routerLink = "/index" >CONSEJO DE CARRERA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
</nav>
<div class="container">

  <app-solicitud> </app-solicitud>
</div>
    <router-outlet></router-outlet> 
