<div>
    <h1> Visualizacion de Solicitudes</h1>
</div>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo de Solicitud</th>
        <th scope="col">Destinatario</th>
        <th scope="col">Anexo</th>
        <th> Contenido </th>
        <th> Estado </th>
        <th> </th>

      </tr>
    </thead>
    <tbody *ngFor = 'let mostr of mostrar'>
      <tr>
        <th scope="row">{{mostr.id_solicitud}}</th>
        <td>Mark</td>
        <td>{{mostr.tipo_solicitud}}</td>
        <td>{{mostr.destinatario}}</td>
        <td>{{mostr.contenido}}</td>
      <td ><select> <option  *ngFor = "let soli of estado"> {{soli.Nombre}} </option > </select> </td>
      <td> <button  class="btn btn-success" (click) = "alFin()"> presioname </button></td>
      </tr>
e
    </tbody>
  </table>