<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../assets/Imagen1.png" ng-fallimg style="width:100px;height:75px;"> &nbsp;  
  <a class="navbar-brand" routerLink = "/index" >Trabajo de Titulacion de Grado</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"
      >
        <li class="nav-item ">
          <a class="nav-link" routerLink = "/index" > Inicio</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLink = "/solicitudes" > Solicitudes</a>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        
      </form>
    </div>
  </nav>

<div >

    <router-outlet></router-outlet> 
</div>


